/* The main container was given row-reverse to move the information to the left and the picture to the right. 
Since the image came first in the html it would have been on the left otherwise. 
Margin auto here centers the section by making the margins equal on the left and right side. */
.POPOSDetails {
	display: flex;
	flex-direction: row-reverse;
	width: 960px;
	margin: auto;
    padding: 1em;
}

.POPOSDetails .POPOSDetails-info {
	flex: 1;
	text-align: left;
	padding: 0 1em;
}

.POPOSDetails .POPOSDetails-title {
	font-size: 2em;
	margin: 0;
}

.POPOSDetails .POPOSDetails-image {
	flex: 2;
}

.POPOSDetails .POPOSDetails-image img {
	width: 100%;
}

.POPOSDetails .POPOSDetails-hours {
	font-size: 1.5em;
}