/*  src/Title.css  */
.PageHeader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 1em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}
/* Stretch Challenge: Added Subtitle and CSSs */
.Header-Subheader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0.8em;
  background-color: rgb(192, 45, 26);
  color: rgba(255, 255, 255, 0.75);
}

.PageHeader a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.PageHeader .nav-link-active {
  color: #fff;
  border-bottom: 5px solid;
}