.PageHeader {
  background-image: url("/Users/parulbhardwaj/Desktop/ACS-1320/Thali_React_Project/public/images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 500px;
  position: relative;
}

.PageHeader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

header h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.Header-Subheader {
  font-size: 2rem;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fddb3a;
}

.nav-link-active {
  color: #fddb3a;
  font-weight: bold;
  font-size: 1.5rem; /* To match the font size of other links */
}