/* The main container was given row-reverse to move the information to the left and the picture to the right. 
Since the image came first in the html it would have been on the left otherwise. 
Margin auto here centers the section by making the margins equal on the left and right side. */
.FoodDetails {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	width: 80%;
	margin: auto;
	color: white;
    padding: 1em;
}

.FoodDetails-info {
	flex: 2;
	text-align: left;
	padding:1em 3em;
	background-color: rgb(3, 8, 23);
	border-radius: 5px;
    border-color: black;
	box-shadow: 0 0 0 2px rgba(223, 221, 221, 0.5);
}

.FoodDetails-name{
	font-size: 2em;
	margin: 0;
	color: yellow;
}

span {
	font-weight: bold;
}

.FoodDetails-where{
	font-size: 1em;
	margin: 0;
	color: rgb(133, 187, 244);
}

.FoodDetails-image {
	flex: 1;
	position: relative;
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
    border-color: black;
	box-shadow: 0 0 0 2px rgba(223, 221, 221, 0.5);
    height: auto;
}