/*
To display the dishes in a grid, display as grid, with three template columns. Each column is 1fr. 
A fr is a unit that represent a fraction of the dish available. */

.Dishes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}
/* A media query is a rule that is only applied some times or under certain circumstances. 
Used media queries here to make adjustments for smaller screens*/
/* the number of columns is changed to two equal columns when the screen is 960px or smaller. */
@media only screen and (max-width: 960px) {
	.Dishes {
		grid-template-columns: 1fr 1fr;
	}
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.Dishes {
		grid-template-columns: 1fr;
	}
}

.FoodList {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Search Field */
input {
	padding: 10px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid #03033c;
	border-radius: 6px;
	font-size: 18px;
	font-weight: bold;
	background-color: #f8f8f9;
	
}